@import '../../styles/colors.scss';

.langcard {
    width: 80vw;
    height: 30vw;
    border-radius: 0.75em;
    background-color: $light-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    transition: all 1s;
    border: none;
    &:hover {
        background-color: $highlight;
    }
}

.cat {
    width: 5em;
    margin-right: 3.2em;
}