@import '../../styles/all.scss';

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-top: 5em;
    &-title {
        text-align: center;
    }
    &-extras {
        display: flex;
        flex-direction: column;
        width: 20em;
    }
    &-extra {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}