@import '../../styles/colors.scss';

.item {
    display: flex;
    border-radius: 1em;
    //border: 1px solid $light-gray;
    width: 70vw;
    height: 20vw;
    margin-bottom: 1em;
    padding: 0 2em;
    align-items: center;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.10); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.10);
    &-picture {
        width: 5em;
        margin-right: 1em;
    }
    &-description {
        &-name {
            margin-bottom: 0;
        }
        &-price {
            display: flex;
            font-size: small;
            margin: 0;
            margin-bottom: 0.25em;
            p {
                margin: 0;
            }
        }
    }
}